table {
    width: 100%;
    border-collapse: collapse;
    
}

td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    text-align: center;
}

tr:first-child td {
    font-weight: bold;
}